.formBG {
  position: fixed;
  width: 100vw;
  height: 150vh;
  top: -75px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 200;
  text-rendering: optimizeSpeed;
}

.formBG > div {
  position: relative;
  top: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.dialog {
  width: 500px;
  background-color: var(--bg);
  padding: 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5em;
  position: relative;
  z-index: 200;
}

.dialog > button {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px;
  background-color: var(--error);
  height: 60px;
  width: 60px;
  border-radius: 15px;
  font-size: .75em;
}

.dialog > p {
  margin: 15px 0;
}

.dialog > div {
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

.dialog > div p {
  color: var(--error);
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 200;
}

.form input {
  width: 250px;
  height: 20px;
  background-color: var(--bg-light);
  padding: 15px;
  border-radius: 50px;
  font-size: .75em;
  margin: 15px;
}


.form label {
  font-weight: bold;
}

.form button {
  margin: 25px 15px;
  border-radius: 15px;
  background-color: var(--create);
  padding: 15px;
  font-size: .75em;
}

.formDelete button {
  margin: 25px 15px;
  border-radius: 15px;
  background-color: var(--error);
  padding: 15px;
  font-size: .75em;
}

.formDelete button:last-child {
  background-color: var(--create);
}

.exercise {
  display: flex;
  justify-content: center;
  align-items: baseline;
  cursor: default;
  position: relative;
  flex-direction: column;
}

.exercise p {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px;
}

.exercise span {
  color: var(--edit);
}

.exercise div {
  display: none;
  position: absolute;
  right: -10px;
  padding: 0 10px;
  height: 100%;
  justify-content: end;
  align-items: center;
  background-color: var(--bg-dark);
}

.exercise button {
  padding: 5px;
  background-color: var(--create);
  margin: 0 5px;
  border-radius: 5px;
  font-size: .75em;
}

.exercise button:last-child {
  background-color: var(--error);
}

.exercise:hover div {
  display: flex;
}