.login {
  position: absolute;
  width: 500px;
  height: 600px;
  top: 15%;
  left: calc(50vw - 250px);
  text-align: center;
  background-color: var(--bg);
  border-radius: 50px;
  padding: 15px;
}

.login h1 {
  margin: 15px 0;
  font-size: 2.25em;
}

.login h2 {
  margin-top: 25px;
  font-size: 1.75em;
}

.login > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60%;
}

.form label {
  font-size: 1.5em;
  margin: 15px 0;
}

.form input {
  margin-bottom: 15px;
  padding: 15px;
  background-color: var(--bg-light);
  width: 60%;
  font-size: 1.25em;
  border-radius: 50px;
}

.form button {
  margin: 15px 0;
  padding: 15px;
  background-color: var(--primary-color);
  font-size: 1.5em;
  border-radius: 15px;
}

.error {
  padding: 15px;
  margin: 0 25px;
  border-radius: 15px;
  background-color: var(--error);
}

.error p {
  font-size: 1.25em;
  color: var(--delete);
}