.formBG {
  position: fixed;
  width: 100vw;
  height: 150vh;
  top: -75px;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 200;
}

.formBG > div {
  position: relative;
  top: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.dialog {
  width: 500px;
  background-color: var(--bg);
  padding: 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5em;
  position: relative;
}

.dialog > button {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px;
  background-color: var(--error);
  height: 60px;
  width: 60px;
  border-radius: 15px;
  font-size: .75em;
}

.dialog > p {
  margin: 15px 0;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
}

.dialog > div {
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form input {
  width: 250px;
  height: 20px;
  background-color: var(--bg-light);
  padding: 15px;
  border-radius: 50px;
  font-size: .75em;
  margin: 15px;
}


.form label {
  font-weight: bold;
}

.form button {
  margin: 25px 15px;
  border-radius: 15px;
  background-color: var(--create);
  padding: 15px;
  font-size: .75em;
}

.form button:last-child {
  background-color: var(--error);
}

.formDelete button {
  margin: 25px 15px;
  border-radius: 15px;
  background-color: var(--error);
  padding: 15px;
  font-size: .75em;
}

.formDelete button:last-child {
  background-color: var(--create);
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  margin: 25px;
  border-radius: 50px;
  padding: 25px;
}

.profile h1, h2 {
  width: 100%;
  border-bottom: 2px solid var(--bg);
  padding: 5px 0;
}

.settings {
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  padding: 15px;
}

.title {
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid var(--bg);
}

.title button {
  padding: 5px;
  font-size: 1em;
  border-radius: 5px;
  background-color: var(--primary-color);
  margin: 0 15px;
}

.formAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  padding: 15px;
}

.formAvatar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.formAvatar button {
  margin: 0 15px;
  border-radius: 15px;
  background-color: var(--create);
  padding: 15px;
  font-size: .75em;
}

.formAvatar button:last-child {
  background-color: var(--error);
}

.avatar {
  margin: 5px;
  background-color: var(--bg-light);
  border-radius: 50%;
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.avatar input {
  display: none;
}

.avatar img {
  width: 90%;
}

.avatarDot {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 15px;
  bottom: 5px;
  background-color: var(--bg-light);
  border-radius: 50px;
}

.avatar:has(input[type="radio"]:checked) .avatarDot {
  background-color: var(--primary-color);
}

.avatar:has(input[type="radio"]:checked) {
  background-color: var(--primary-color);
}

.delete {
  width: calc(100% - 55px);
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.delete h2 {
  border: 0;
}

.delete button {
  padding: 5px;
  font-size: 1em;
  border-radius: 5px;
  background-color: var(--error);
  margin: 0 15px;
}

.error {
  padding: 15px;
  margin: 0 25px;
  border-radius: 15px;
  background-color: var(--error);
}

.error > p {
  font-size: 1.25em;
  color: var(--delete);
}
