.main {
  position: relative;
  left: 250px;
  padding: 15px;
  width: calc(100vw - 300px);
}

.headerRoutine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerRoutine h2 {
  font-size: 1.75em;
}

.headerRoutine button {
  background-color: var(--create);
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1em;
}

aside > .menu {
  width: 250px;
  max-height: calc(100vh - 75px);
  height: 100vh;
  background-color: var(--bg-dark);
  position: fixed;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  position: relative;
}

.title {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px;
  font-size: 1.25em;
}

.title p {
  padding: 0 5px;
}

.title button {
  font-size: .75em;
  background-color: var(--create);
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px;
}

.title button:last-child {
  background-color: var(--edit);
}

.title + ul {
  padding-left: 25px;
}

.title + ul > li {
  padding: 5px 0;
  margin: 15px 0;
}

.formBG {
  position: fixed;
  width: 100vw;
  height: 150vh;
  top: -75px;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 200;
}

.formBG > div {
  position: relative;
  top: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.dialog {
  width: 500px;
  background-color: var(--bg);
  padding: 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5em;
  position: relative;
}

.dialog > button {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px;
  background-color: var(--error);
  height: 60px;
  width: 60px;
  border-radius: 15px;
  font-size: .75em;
}

.dialog > p {
  margin: 15px 0;
}

.dialog > div {
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

.dialog > div p {
  color: var(--error);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form input {
  width: 250px;
  height: 20px;
  background-color: var(--bg-light);
  padding: 15px;
  border-radius: 50px;
  font-size: .75em;
  margin: 15px;
}

.form label {
  font-weight: bold;
}

.form button {
  margin-top: 25px;
  border-radius: 15px;
  background-color: var(--create);
  padding: 15px;
  font-size: .75em;
}

.error {
  padding: 15px;
  margin: 0 25px;
  border-radius: 15px;
  background-color: var(--error);
}

.error p {
  font-size: 1.25em;
  color: var(--delete);
}